{% extends "base.html" %}

{% block content %}

<td>BATCH ID: B1-1M3E</td><br>
<td>TEAM ID: PNT2022TMID47490 </td>
<p align="justify" style="color:brown";>Plasma donation, also known as apheresis, can help save lives. It is a relatively safe procedure, 
	but there can be minor side effects. Plasma is the liquid part of the blood. It contains proteins 
	and antibodies that are crucial for clotting and immunity. Around 55% of the blood is plasma. 
	Plasma donation involves drawing blood, extracting the plasma, and returning what is left of 
	the blood to the person, all through a single needle that remains in the arm throughout the 
	process. Plasma is in high demand, as it helps treat cancer and other health issues. In May 
	2020, the Food and Drug Administration (FDA) asked people who had recovered from COVID-19 to donate plasma. Experts believe that the plasma may contain antibodies for SARS-CoV2, the virus behind the disease. Receiving plasma with these antibodies could help a person 
	fight off the infection. People with AB blood have a universal type of plasma, which means 
	that a person with any blood type can receive this plasma safely. This is different from having 
	the universal blood type, which is O negative. The American Red Cross urge people with AB 
	blood to donate plasma. A person can do this every 28 days, or up to 13 times a year. 
	Research shows that plasma donation is safe, and the National Institutes of Health 
	(NIH) emphasize that there is no risk of getting the wrong blood back. Also, the FDA and other 
	health authorities regulate the equipment and procedure of plasma donation. 
	However, a person who donates plasma may experience minor adverse effects, and as with 
	any other procedure involving a puncture, certain risks are involved. 
	So, it is highly necessary and equally important to create an application to maintain the donors 
	list and details to contact and track them during emergency situations. When talking about 
	an application, it needs to be easy to handle and user friendly. Software like Python-Flask, 
	and Docker are used in this application. </p>


<h1 style="color:brown";>Contributors<h1>
	<h5>M.SHAKEEL SHERIFF | P.HARIKISHORE | S.LESLEE REUBEN RAJ | M.REUEL JOSHUA | S.ARUN PRASANTH</h5>
	<h3>email: teamplasma@gmail.com</h3>
		<h3>phno:1234567890</h3>
{% endblock %}