<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Job Portal in Docker</title>
<style>
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
  }
  h1 {
    color: hsl(60, 3%, 6%);
  }
  body { 
    background-color: rgb(187, 183, 100);
    }
	#wrapper {
		background: rgb(210, 131, 21);
		border: none;
		padding: 10px;
		margin: 1% auto;
		width: 90%;
	}
</style>	
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="open source x/html and css templates">
<meta name="author" content="mlp design">
<meta name="robots" content="index, follow">
</head>
<body>
<!--start wrapper-->
<div id="wrapper">

<!--start body-->
<div id="body">

<!--start header-->
<div id="banner">
<h1>Job Portal <em>(Assignment-4)</em></h1>
<p>Done by M.Shakeel Sheriff-910019106037</p>

<!-- menu -->
<li><a class="#">Home</a></li>
<li><a href="#">Jobs</a></li>
<li><a href="#">Apply for a job</a></li>
</ul>
</div>
	<div id="sidebar">
		<h2>About</h2>
		<p>Searching for a job, Contact us!</p>
</div>	
</body>
</html>

